body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  background: #fafaf5;
    font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo i {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 3px solid;
}
.menu-list {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 18px;
  color: rgb(109, 106, 106);
}

.banner {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo-title {
  font-size: 25px;
  margin-left: 5px;
}
.img img {
  border-radius: 100%;
  width: 500px;
  height: full;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.btn {
  background-color: #65bb73;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
}
.two-btn {
  display: flex;
  gap: 15px;
}
.btn-1 {
  background-color: #65bb73;
  color: #000;
  border: none;
  padding: 7px 20px;
}
.btn-2 {
  padding: 7px 20px;
}
.span {
  color: #65bb73;
  font-style: italic;
}

.title h2 {
  font-size: 40px;
}
.description {
  font-size: 20px;
  color: rgb(139, 137, 137);
}

/* 2nd section start  */
.two-container{
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}
.img-2 img{
  width: 600px;
}
.des-2{
  width: 50%;
  font-size: 30px;
  color: rgb(139, 137, 137);
}