body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  background: #fafaf5;
    font-family: "Inter", sans-serif;
    background-color: rgb(238, 243, 238);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo i {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 3px solid;
}
.menu-list {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 18px;
  color: rgb(109, 106, 106);
}

.banner {
  margin-top: 10px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.logo-title {
  font-size: 25px;
  margin-left: 5px;
}
.img img {
  border-radius: 100%;
  width: 500px;
  height: full;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.btn {
  background-color: #65bb73;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
}
.two-btn {
  display: flex;
  gap: 15px;
}
.btn-1 {
  background-color: #65bb73;
  color: #000;
  border: none;
  padding: 7px 20px;
}
.btn-2 {
  padding: 7px 20px;
}
.span {
  color: #65bb73;
  font-style: italic;
}

.title h2 {
  font-size: 40px;
}
.description {
  font-size: 20px;
  color: rgb(139, 137, 137);
}

/* 2nd section start  */
.two-container{
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}
.img-2 img{
  width: 600px;
}
.des-2{
  width: 50%;
  font-size: 30px;
  color: rgb(139, 137, 137);
}

/* third section is start  */
.third-container{
  margin-top: 50px;
  background: rgb(208, 226, 208);
  width: full;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-1{
  background: white;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border-radius: 10px;
}
.card-1 img{
  width: 50px;
}
.card-1 p{
  font-size: 20px;
  text-align: center;
}
.card-container{
  display: flex;
  justify-content: center;
  gap: 35px;
}

/* fourth section start  */
.fourth-container{
  background-color: rgb(191, 231, 191);
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  padding-left: 50px;

}
.des-3{
  font-size: 20px;
}
.img-3 img{
width: 80%;
border: 8px solid rgb(212, 207, 207);
}